/* Esto es un ccoooooooooomentario we */
body {
  background-image: url(../imagenes/fondo2.jpg); }

body h1 {
  color: white; }

body p {
  color: white; }

.logo1 {
  padding-right: 15px; }

article {
  max-height: 800px;
  background-image: url(../imagenes/fondo2.jpg); }
  article h2 {
    color: white; }
  article li {
    padding: 10px;
    font-size: 30px;
    font-style: italic;
    color: white; }

.maindiv {
  padding: 20px;
  border: unset 2px white;
  display: flex; }

.card img {
  height: 380px;
  width: 100%; }

.card-body:hover {
  border: solid;
  color: white;
  transition: 0.5s; }

.card:hover {
  border: solid;
  color: gray;
  transition: 0.5s; }

th {
  background: #000;
  color: #fff; }

tr td {
  color: #fff;
  padding: 40px;
  font-size: 25px;
  font-style: italic; }

.Comentarios {
  display: flex;
  position: relative; }

.footer {
  text-align: center;
  line-height: 50px;
  background: black;
  color: white; }

a {
  display: flex;
  flex-direction: column; }
