/* Esto es un ccoooooooooomentario we */


@import "_diseño";


$teal:-300;
$color:white;
$heigth:340px;


body{
	h1{
		color: $color;
	}

	p{
    color:$color;
    }
	h2{
		$teal:-300;
	}

}

.logo1{
	padding-right:15px;
}

article
	{
		max-height:800px;
		background-image: url(../imagenes/fondo2.jpg);
		h2{
			color:$color;
		}
li{
padding:10px;
font-size:30px;
   font-style: italic;
	color:white;
}
  

  }





  .maindiv{
  padding:20px;
  border:unset 2px $color ;
  
	display:flex;
    
	}


	.card img{
		height:380px; 
		width: 100%;   
	   }
     

	   .card-body:hover{
    
		border: solid;
		color: white;
		transition:0.5s;
	
	
	}
	
	
	.card:hover{
	
		border: solid;
		color: gray;
		transition:0.5s;
	
	
	}


	th{ 
		background: #000;
		color:#fff }
		
		
		
		
		tr td{
			color: #fff;
			padding: 40px;
			font-size: 25px;
			font-style: italic;
		}
		
		.Comentarios{
			display: flex;
			position: relative;
			
		}
		
		
		.footer{
		 text-align: center;
		  line-height:50px;
		  background:black;
		  color:white;
		}
	a {
		display: flex;
	flex-direction: column;
}
